/* base page */
.games {
  position: fixed;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gamecard {
  width:200px;
  height:200px;
}

.gameicon{
  clip-path: circle(50%);
}

#dressup-icon{
  clip-path: circle(100px at 0 334px);
}

/* cans game */
}
 .cans {
   width: 20%;
   margin-bottom: 30px;
   border: solid;
   border-radius: 3px;
   border-color: white;
 }

 .canimg:hover{
   transform: scale(1.1, 1.1);
 }

.canshelf {
  min-width: 100%;
  border: solid;
  border-radius: 3px;
}

/* dollhouse */
.dialogue{
  color: transparent;
}


.room {
  width:300px;
  height:300px;
}

.room:hover {
  width:310px;
  height:310px;
}

.roof {
 width: 0;
 height: 0;
 border-left: 307px solid transparent;
 border-right: 307px solid transparent;
 border-bottom: 100px solid pink;
}

.house {
  background-color: pink;
  width:100%;
}

/* dressup game */
#dressup{
  background-color:pink;
}

.cutefont {
  font-family: 'Indie Flower', cursive;
}
.textorbuttons{
  position: absolute;
  left: 400px;
  font-size: 20px;
  width: 400px;
  background-color: pink;
}
.base{
  z-index: 0;
  position: absolute;
}
#top {
  z-index: 2;
  position: absolute;
}
#bottom{
  z-index: 1;
  position: absolute;
}
#shoes{
  z-index: 3;
  position: absolute;
}

/* tundradventure */
#passage{
  background-color: white;
  border-radius:25px;
  padding: 20px;

}
#tundradventurebg {
  background-image: url('../assets/images/tundradventure/snow.gif');
  background-repeat: repeat;
  background-color: navy;
}

#note {
  text-align: left;
  font-family: 'Beth Ellen', cursive;
  font-size: 13px;

}
